
{% extends "tictactoe/layout.html" %}

{% block body %}
        <p>{{ game }}</p>
        <p>{{ turn }}</p>
        <table>
        {% for i in game %}
        <tr>
        {% for j in i %}
        <td>  
          {% if j %}
          {{ j }} :: {{ forloop.parentloop.counter0 }},{{ forloop.counter0 }}
          {% else %}
          <a href="{% url 'tictactoe:play' %}?x={{forloop.parentloop.counter0|urlencode}}&y={{forloop.counter0|urlencode}}">Play {{ turn }} here</a>
          {% endif %}
        </td>
        {% endfor %}
        </tr>
    {% endfor %}
  </table>
{% endblock %}

