{% extends "tictactoe/layout.html" %}

{% block body %}
<style>
  table {
      border-collapse: collapse;
  }
  td {
      border: 1px solid black;
      width: 150px;
      height: 150px;
      font-size: 30px;
      text-align: center;
  }
  td > a {
      font-size: 18px;
  }
  
  
  </style>
  <script>

  </script>
        <p>{{ range }}</p>
        <p>{{ game }}</p>
        <table>
            {% for i in range %}
              <tr>
                {% for j in range %}
                   <td>
                       {%if game|index:i|index:j %} 
                          {{ game|index:i|index:j }}
                        {% else %}
                             <a href="" >Play {{ turn }} here</a>
                        {% endif %}
                  </td>
                {% endfor%}
              </tr>
            {% endfor%}
        </table>
{% endblock %}
