{% extends "tictactoe/layout.html" %}

{% block body %}
<style>
  table {
      border-collapse: collapse;
  }
  td {
      border: 1px solid black;
      width: 150px;
      height: 150px;
      font-size: 30px;
      text-align: center;
  }
  td > a {
      font-size: 18px;
  }
  
  
  </style>
  <script>

    function setParameterAndCall(turn, i , j){
      $.ajax({
        type: "POST",
        url: {% url 'tictactoe:play' %},
        turn: turn, 
        i: i, 
        j: j,
        success: function(result){
          alert("Success");
        }
      });
    }
  </script>

        <table>
            {% for i in range(3) %}
              <tr>
                {% for j in range(3) %}
                   <td>
                       {%if game[i][j] %} 
                             {{ game[i][j] }}
                        {% else %}
                             <a onclick="setParameterAndCall(turn, i,j)">Play {{ turn }} here</a>
                        {% endif %}
                  </td>
                {% endfor%}
              </tr>
            {% endfor%}
        </table>
{% endblock %}
